* {
    box-sizing: border-box;
}

#container {
    position:relative;
    /* background-color:black; */
    /* width:100%;
    height:100vh; */
}

button {
    background-color:white;
    padding:10px 20px;
    border:none;
    border-radius: 10px;
}

body {
    background-image: url("..//images/food.png");
    background-repeat: repeat;
}

.choices {
    width: 200px;
    height: 200px;
    color:white;
    font-size: 2em;
    background-color:rgb(24, 166, 202);
    display: block;
    margin: auto;
    margin-top: 10px;
}