/*------------------ TOP HIGH LEVEL DESIGNS---------------- */
* {
    box-sizing: border-box;
}
body {
    background-image: url("..//images/food.png");
    background-repeat: repeat;
}
h1 {
    color: blue;
    font-size: 3em;
}
h2 {
    color: blue;
    font-size: 2em;
}
p {
    padding: 10px;
    font-size: 1.5em;
}


/*--------------------- MAIN ID'S FOR THE PAGE -----------------*/
#container {
    position:relative;
    /* background-color:black; */
    /* width:100%;
    height:100vh; */
    text-align: center;
    margin-top:30px;
}

#header, #questions {
    text-align: center;
}
#questions {
    font-size: 1.4em;
}



/* -------------BUTTON STYLES---------------------- */
button {
    background-color:white;
    padding:10px 20px;
    border:none;
    border-radius: 10px;
}
.choices {
    background-color:green;
    color:white;
    border: 3px solid blue;
    border-radius: 10px;
    display: block;
    margin:auto;
    margin-top:10px;
}